<div class="app-bar primary">
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
			<li{{#ifEq elementType 1}} class="active"{{/ifEq}}><a href="javascript:app.updateClasslist(null); app.data.elementType = 1; app.data.elementId = null; app.updateTemplate(); app.getElements(app.data.elementType, function(elements) { app.updateClasslist(elements); app.updateTemplate(); });">Klas</a></li>
			<li{{#ifEq elementType 4}} class="active"{{/ifEq}}><a href="javascript:app.updateClasslist(null); app.data.elementType = 4; app.data.elementId = null; app.updateTemplate(); app.getElements(app.data.elementType, function(elements) { app.updateClasslist(elements); app.updateTemplate(); });">Lokaal</a></li>
			<li{{#ifEq elementType 2}} class="active"{{/ifEq}}><a href="javascript:app.updateClasslist(null); app.data.elementType = 2; app.data.elementId = null; app.updateTemplate(); app.getElements(app.data.elementType, function(elements) { app.updateClasslist(elements); app.updateTemplate(); });">Docent</a></li>
		</ul>
	</div>
</div>
<div class="app-bar clearfix">
	{{#if elementType}}
		<div class="container">
			{{#if elements}}
				<select class="select2" onchange="if(app.data.elementId != this.value){ app.data.elementId = this.value; app.updateTimetable(); }">
					{{#unless elementId}}
						<option disabled="disabled" selected="selected">Kies een item</option>
					{{/unless}}
					{{#each elements}}
						<option value="{{id}}"{{#ifEq id ../elementId}} selected="selected"{{/ifEq}}>{{display_name}}</option>
					{{/each}}
				</select>
			{{else}}
				<span class="glyphicon glyphicon-refresh"></span> Lijst wordt opgehaald
			{{/if}}

			{{#if elementId}}
				<div class="date-select">
					<a class="arrow" href="javascript:app.addDate(-1);"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<span class="value" title="{{date_str date 1}}">{{date_str date 1}}</span>
					<a class="arrow" href="javascript:app.addDate(+1);"><i class="glyphicon glyphicon-chevron-right"></i></a>
				</div>
			{{/if}}
		</div>
	{{/if}}
</div>
{{#if error}}
	{{#if elementId}}
	<div class="container">
		<div class="alert alert-danger text-center">Er is momenteel een storing in het roostersysteem. Het is mogelijk dat er geen of incorrecte informatie getoond wordt.<br /><em>Error code: {{error}}</em></div>
	</div>
	{{/if}}
{{/if}}
<div class="period-container">
	<div class="period-list">
		<div id="items">
			{{#unless elementId}}
				<div class="alert alert-info text-center">Welkom op het alternatieve rooster. Klik bovenaan wat voor soort rooster je wilt bekijken (klas, lokaal of docent). Kies vervolgens van welke klas/lokaal/docent je het rooster wilt zien.</div>
			{{else if loading}}
				<h1 class="text-center"><span class="glyphicon glyphicon-refresh"></span></h1>
				<div class="text-center">Rooster wordt opgehaald.</div>
			{{else}}
				{{#unless periods}}
					<h1 class="text-center"><span class="glyphicon glyphicon-alert"></span></h1>
					<div class="text-center">Geen informatie gevonden.</div>
				{{/unless}}
				{{#each periods}}
					{{#if isBreak}}
						<div class="period panel{{#if cancelled}} cancelled{{/if}}">
							<div class="panel-body">
								<p class="text-center text-overflow">{{startTime.hour}}:{{startTime.minute}} - {{endTime.hour}}:{{endTime.minute}}</p>
								<p class="text-center text-overflow">{{#if isLongBreak}}Tussenuur{{else}}Pauze{{/if}}</p>
							</div>
						</div>
					{{else}}
						<div class="period panel{{#if cancelled}} cancelled{{/if}}" style="border-left: 5px solid {{css.color}}; opacity: {{css.opacity}};">
							<div class="panel-body">
								<p class="text-center text-overflow">{{startTime.hour}}:{{startTime.minute}} - {{endTime.hour}}:{{endTime.minute}}</p>
								<div class="row">
									<div class="col-xs-6">
										<p class="text-center text-overflow">
											{{#each elements.[1]}}{{#unless @first}}, {{/unless}}<a href="javascript:app.showTemporaryTimetable({{type}}, {{id}});" title="{{longName}}">{{displayname}}</a>{{/each}}
										</p>
									</div>
									<div class="col-xs-6">
										<p class="text-center text-overflow">
											{{#each elements.[2]}}{{#unless @first}}, {{/unless}}<a href="javascript:app.showTemporaryTimetable({{type}}, {{id}});" title="{{longName}}">{{displayname}}</a>{{/each}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<p class="text-center text-overflow">
											{{#each elements.[3]}}{{#unless @first}}, {{/unless}}<span title="{{longName}}">{{displayname}}</span>{{/each}}
										</p>
									</div>
									<div class="col-xs-6">
										<p class="text-center text-overflow">
											{{#each elements.[4]}}{{#unless @first}}, {{/unless}}<a href="javascript:app.showTemporaryTimetable({{type}}, {{id}});" title="{{longName}}">{{displayname}}</a>{{/each}}
										</p>
									</div>
								</div>
							</div>
						</div>
					{{/if}}
				{{/each}}
			{{/unless}}
		</div>
	</div>
</div>